/**
 * 	In deze sheetstyle wordt het menu opgebouwd.
 */
/*div#menu {*/
/*    height:55px;*/
/*    width: 100%;*/
/*}*/

/*div#menu ul {*/
/*    width: 70%;*/
/*    margin: auto;*/
/*    padding-left: 30px;*/
/*    display: inline;*/
/*    list-style-type: none;*/
/*}*/
/*
div#menu li {
    display: inline;
    width:40px;
    padding: 0 5px 0 0;

}

 */
/**div#menu li:hover>ul {*/
/*    left: -2px;*/
/*}*/

/*div#menu a {*/
/*    position: relative;*/
/*    height: 37px;*/
/*    display: block;*/
/*    float: left;*/
/*    line-height: 57px;*/
/*    text-decoration: none;*/
/*    text-align: center;*/
/*    font: normal 14px Verdana;*/
/*}*/
/*div#menu a:hover, div#menu a:hover span { color: #FFF; background: palegoldenrod; }*/

/*div#menu span {*/
/*    display: block;*/
/*    cursor: pointer;*/
/*    background-repeat: no-repeat;*/
/*    background-position: 95% 0;*/
/*}*/

/*div#menu a {*/
/*    padding: 0 25px 0 25px;*/
/*    line-height: 28px;*/
/*    color: palegreen;*/
/*}*/
/*div#menu span {*/
/*    margin-top: 5px;*/
/*}#menu p {*/
/*     margin-top: 5px;*/
/* }*/
body {
    margin: 0;
    font-family: Arial
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}